.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
.banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 24px;
    font-weight: bold;
    color: #ff971d;
    padding-bottom: 95%;
    padding-left: 3%;
    text-shadow: 2px 2px #494949;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    background-image: url("https://eraw-front2.vercel.app/assets/cards/perro.jpg");
  }
  
  .banner .swiper-slide:nth-child(2n) {
    background-image: url("https://eraw-front2.vercel.app/assets/cards/cat.jpg");
  }
  
  .banner .swiper-slide:nth-child(3n) {
    background-image: url("https://eraw-front2.vercel.app/assets/cards/rabbit.png");
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url("https://eraw-front2.vercel.app/assets/cards/hamster.jpg");
  }
  
  .banner .swiper-slide:nth-child(5n) {
    background-image: url("https://eraw-front2.vercel.app/assets/cards/turt.png");
  }
  
  .banner .swiper-slide:nth-child(6n) {
    background-image: url("https://eraw-front2.vercel.app/assets/cards/fish.jpg");
  }
  
.banner .swiper-slide:nth-child(7n) {
    background-image: url("https://eraw-front2.vercel.app/assets/cards/bird.jpg");
  }
  
  .banner .swiper-slide:nth-child(8n) {
    background-image: url("https://eraw-front2.vercel.app/assets/cards/cham.png");
  }
  
  .banner .swiper-slide:nth-child(9n) {
    background-image: url("https://eraw-front2.vercel.app/assets/cards/squ.png");
  }
  
